.jb-wrap {
  width: 200px;
  height: 100px;
  /* margin: 10px auto; */
  /* border: 1px solid #000000; */
}
.jb-wrap img {
  width: 90%;
  vertical-align: middle;
}
.jb-text {
  width: 90%;
  padding: 5px 10px;
  background-color: transparent;
  text-align: center;
  position: absolute;
  transform: translate( -0%, -90% );
  font-size: 120%;
}
